*.pyc
*.bak
.DS_Store
manim/homeless.py
manim/playground.py
manim/cairo_test.py
manim/mayavi_test.py
manim/random_scenes/
manim/files/
manim/assets/
manim/ben_playground.py
manim/ben_cairo_test.py
.floo
.flooignore
.vscode
.vs
*.xml
*.iml
media
video
manim.sublime-project
manim.sublime-workspace
.eggs/
build/
dist/
manim.egg-info/

Tex/
manim/primes.py
/media_dir.txt
videos
*egg-info*
